# Environment Variables - LembreDeMin
# This is a Ren'Py web game (static HTML). These vars are documented for reference.
# Actual values are hardcoded in index.html or service-worker.js.

# Analytics - Visit Counter (counter.dev)
VITE_COUNTER_DEV_ID=d69dbd61-c2cf-42db-b4b7-537573f0843e

# Social Links (for reference)
VITE_PORTFOLIO_URL=https://ricardo-camilo-dev-frontend-web.netlify.app/
VITE_GITHUB_URL=https://github.com/ricardo-camilo-programador-frontend-web
VITE_LINKEDIN_URL=https://www.linkedin.com/in/ricardo-camilo-programador-frontend-web-developer/
VITE_X_URL=https://x.com/Ricardo50993066
VITE_INSTAGRAM_URL=https://www.instagram.com/ricardo.camilo.dev/
VITE_YOUTUBE_URL=https://www.youtube.com/@ricardocamilodev
VITE_99FREELAS_URL=https://www.99freelas.com.br/user/CamillusBloodfallen
VITE_WORKANA_URL=https://www.workana.com/freelancer/7a5de74a4785b737b517d8746a01cd23
VITE_BUYMEACOFFEE_URL=https://buymeacoffee.com/ricardo.camilo.frontend
VITE_FACEBOOK_URL=https://www.facebook.com/profile.php?id=61571852212026
VITE_FIGMA_URL=https://www.figma.com/@riddhilimbachiy
VITE_CONTACT_EMAIL=ricardo.camilo.dev@gmail.com
VITE_GA_MEASUREMENT_ID=G-DLRDXGG3V1
VITE_GTM_ID=GTM-5HWWCSZ4
